<% layout("./layouts/boilerplate") -%>

<body>
    <div class="row">
        <div class="col-6 offset-3 mb-3">
            <h1 class="mb-3 ">After you credit a Amount </h1>
            <p><b>Username : </b><%= user.Username%></p>
            <p><b>AccNumber : </b><%= user.AccNumber%></p>
            <p><b>Ammount: </b><%= user.Ammount%></p>
        </div>
    </div>
   
</body>
