<% layout("./layouts/boilerplate") -%>
<body>
    
    <div class="row">
        <div class="col-6 offset-3">
            <h1  class="mb-3">Please Enter Your Information</h1>
    <form method="post" action="/client" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
        <input placeholder="enter name here" type="text" name="Username" class="form-control" required>
        <div class="invalid-feedback">
            Please enter Username.
          </div>
        </div>
        <div class="mb-3">
            <label for="AccNumber" class="form-label">AccNumber</label>
            <input placeholder="enter AccountNumber here" name="AccNumber" class="form-control" required>
            <div class="invalid-feedback">
                Please enter AccNumber.
              </div>
        </div>
        
        <button class="btn btn-primary">submit</button>
    </form>
</div>
</div>
</body>
