<% layout("./layouts/boilerplate") -%>
<body>
    <form method="post" action="/login">
        <div class="row">
            <div class="col-6 offset-3">
                <h1>Login</h1>
                <div class="mb-3 mt-3">
                <label for="username" class="form-label">enter Username here</label>
                <input type="text" name="username" class="form-control" placeholder="enter username here" required>
                <div class="invalid-feedback">
                    please enter name here
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">enter password here</label>
                <input type="text" name="password" class="form-control" placeholder="enter password here" required>
                <div class="invalid-feedback">
                    please enter password here
                </div>
            </div>
            <button class=" btn btn-success mb-3">submit</button>
            </div>
            </div>
    </form>
</body>